<h1>Products List</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %> - $<%= sprintf("%.2f", product.price) %>
    </li>
  <% end %>
</ul>

<%= paginate @products %>